{% extends "base_generic.html" %}

{% block content %}
<form action="" method="post">
  {% csrf_token %}
  {% if form.email.errors %}
  {{ form.email.errors }}
  {% endif %}
  <p>{{ form.email }}</p>
  <input type="submit" class="btn btn-default btn-lg" value="Reset password">
</form>
{% endblock %}
Password reset done
This form is displayed after your email address has been collected. Create
/locallibrary/templates/registration/password_reset_done.html, and give it the following contents:

{% extends "base_generic.html" %}

{% block content %}
<p>We've emailed you instructions for setting your password. If they haven't arrived in a few minutes, check your spam
  folder.</p>
{% endblock %}