{% extends "base_generic.html" %}

{% block content %}

<h2>Frequenty Asked Questions (FAQ)</h2>
<p><h4>Do you need an account to use the application?</h4>
- The application can be used by anyone. An account is only required if you would like to receive and share videos or save videos and tags to a personalized library.</p>
<p><h4>How do I create an account?</h4>
- To create an account, click on the ‘Sign-Up’ button in the navigation bar. Fill in the form that you get redirected to. Click ‘submit’ and you will have a user account!</p>
<p><h4>What if I forgot my username or password?</h4>
- Click on the ‘Log-In’ button and select ‘Forgot password’. Fill in your email address and the DanceIT application will automatically email you a reset credentials link. </p>
<p><h4>Can I search through YouTube videos on the app?</h4>
- Yes! On the Home page of the application there is a search box titled ‘Search YouTube’. Type in the keywords that you would like to search, and press ‘submit’, the top 6 YouTube video results will be displayed on the Home page for you to view. </p>
<p><h4>How do I access the Video Library?</h4>
- The Video Library can be accessed by clicking on the ‘All Videos’ link in the navigation sidebar.</p>
<p><h4>How do I find a particular video?</h4>
- There is a search bar at the top of the Video List page. Type in the keywords you would like to search and press the ‘Search’ button and the results will be displayed on the page.</p>
<p><h4>How do I watch a video from the video list?</h4>
- Click on a videos name on the video list. This will take you to the Video Detail page of that video. Click on the embedded video to watch it. </p>
<p><h4>How do I add a new video?</h4>
- On the Video List page click on the ‘Add Video’ button. This will redirect you to the Add Video Form. Fill in the videos name, URL and add some tags if you would like to. To get a videos URL, either copy it across from a video sharing site or search for the video on YouTube on the Home page and click on the ‘Share’ button to copy the URL.</p>
<p><h4>How do I update a video or its information?</h4>
- On the videos Video Detail page click on the ‘Update Video’ button. This will redirect you to a form that will update and details you change about the video.</p>
<p><h4>What if I upload the incorrect video?</h4>
- On the videos Video Detail page, click on the ‘Delete Video’ button to remove unwanted videos.</p>
<p><h4>How do I access the Tag Library?</h4>
- The Tag Library can be accessed by clicking on the ‘All Tags’ link in the navigation sidebar.</p>
<p><h4>How do I find a particular tag?</h4>
- There is a search bar at the top of the Tag List page. Type in the keywords you would like to search and press the ‘Search’ button and the results will be displayed on the page.</p>
<p><h4>How do I view details of a tag?</h4>
- Click on a tags name on the tag list. This will take you to its Tag Detail page.</p>
<p><h4>How do I watch a video that is linked to the tag?</h4>
- On the Tag Detail page, click on the name of one of the linked videos. This will take you to the videos </p>Detail page, click on the embedded video to watch it.
<p><h4>Can I see videos that are similar to the one I am watching?</h4>
- Yes, at the end of each video a list of three recommended videos from the YouTube recommender. </p>
<p><h4>How do I add a new tag?</h4>
- On the Tag List page, click on the ‘Add Tag’ button. This will take you to the ‘Add Tag’ From page. Select at least one video that fits the tag and select a category for it if you would like.</p>
<p><h4>How do I update a tag?</h4>
- On the Tag Detail page, click on the ‘Update Tag’ button, this will take you to the Update Tag Form.</p>
<p><h4>How do I remove a tag?</h4>
- On the Tag Detail page, click on the ‘Delete Tag’ button.</p>
<p><h4>How do I access the Tag Categories page?</h4>
- Click on the ‘Tag Categories’ link in the navigation sidebar.</p>
<p><h4>How do I find a particular tag category?</h4>
- There is a search bar at the top of the Tag Category page. Type in the keywords you would like to search and press the ‘Search’ button and the results will be displayed on the page.</p>
<p><h4>How do I view the tags inside of a tag category?</h4>
- Click on a tag category, you will be redirected to its Detail page. The tags that fall under that category will be listed there, click on the name of any tag and you will be redirected to its Tag Detail page. </p>
<p><h4>How do I share videos with other users?</h4>
- On the Video Detail page, click on the ‘Save/ Share Video’ button, you will be redirected to a from where you can select a user to share the video with. Clicking the submit will share the video with them.</p>
<p><h4>How do I share tags with other users?</h4>
- On the Video Detail page, click on the ‘Save/ Share Video’ button, you will be redirected to a from where you can select a user to share the video with. Clicking the submit will share the video with them.</p>
<p><h4>Can I share videos with external users?</h4>
- Yes, at the top right of any video there is an icon shaped like an arrow that functions as a share button. When clicked, the URL of the video will be displayed for you to copy. You can copy this or click on one of the social media icons below to get a link to share it through that platform.</p>
<p><h4>Can I save videos to a personalized library?</h4>
- On the Video Detail page, click on the ‘Save/ Share Video’ button, you will be redirected to a form with a list of users. Select your username and the video will be added to your Video Library if you have a user account.</p>
<p><h4>Can I save tags to a personalized library?</h4>
- On the Tag Detail page, click on the ‘Save/ Share Video’ button, you will be redirected to a form with a list of users. Select your username and the tag will be added to your Tag Library if you have a user account.</p>

{% endblock content %}
