{% extends "base_generic.html" %}

{% block content %}
<h1>Tag Categories List</h1> 
<form action="." method="get">
  <label for="query">Search Tag Categories</label>
  <input type="text" name="query" id="query">
  <input type="submit" value="Search">
</form>
<a href="{% url 'type_create'%}">Add Tag Category</a>
{% if type_list %}
<ul>
  {% for type in type_list %}
  <li>
    <a href="{{ type.get_absolute_url }}">{{ type.name }}</a> 
  </li>
  {% endfor %}
</ul>
{% else %}
<p>There are no categories here.</p>
{% endif %}
{% endblock %}