
body {
  background: #c9c3bd;
}

p, a, li, h1, h2, h3, h4, h5 {
  color: white;
}

Ch

a:hover {
  color: hsl(30, 100%, 50%); 
}

ul {
  list-style: none;
}

.sidebar-nav {
  background: #716e6a;
  padding: 1.5rem;
  width: 100%;
  height: 100%;
}

.col-sm-2 {
  padding-left: 0;
}